$Main-Color : black;
$Secondary-Color : #41c457;
$White-Color-text : white;
$Background-color-light : #f8f8f8;
$Deep-Cove: #051745;
$Lucky-Point:#1a236c;
$Daisy-Bush:#351ba2;
$Pale-Slate: #bcbbbc;
$Science-Blue:#607afe;
$Regent-Gray:#818e9d;