* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-space-bet {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-end {
    display: flex;
    justify-content: end;
    align-items: center;
}



